<!-- Page banner Area -->
<!-- <div class="page-banner bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>Our Special Testimonials</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Testimonials</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Page banner Area -->

<!-- Testimonials Slider Area -->
<div class="testimonials-area ptb-100" >
    <div class="container">
            <br><br>
        <ng-sidebar-container  #sidebar>
       
            <!-- A sidebar -->
            <ng-sidebar [(opened)]="opened" mode="push">
                <mat-nav-list>
                   <a mat-list-item routerLink="/agenda" (click)="toggleSidebar()">
                       <mdb-icon far icon="calendar-alt" size="1x"></mdb-icon> <span class="nav-caption">Agenda</span>
                   </a>
                   <a mat-list-item routerLink="/addPatient" (click)="toggleSidebar()">
                       <mdb-icon fas icon="user-friends"  size="1x"></mdb-icon> <span class="nav-caption">Patients</span>   
                   </a>
                   <a mat-list-item routerLink="/rendez-vous/{{user.id}}" (click)="toggleSidebar()">
                       <mdb-icon far icon="calendar-check" ></mdb-icon><span class="nav-caption">rendez-vous</span>
                   </a>
                   <a mat-list-item routerLink="/ordonnance" (click)="toggleSidebar()">  
                       <mdb-icon fas icon="file-signature" size="1x"></mdb-icon><span class="nav-caption">Ordonnance</span>
                   </a>
                   <a mat-list-item routerLink="/rendez-vous" (click)="toggleSidebar()">  
                       <mdb-icon fas icon="notes-medical" size="1x"></mdb-icon><span class="nav-caption">Compte Rendu</span>
                   </a>
                   
                   <a mat-list-item routerLink="/courrier" (click)="toggleSidebar()">  
                       <mdb-icon far icon="envelope" size="1x"></mdb-icon><span class="nav-caption">Courrier</span>
                   </a>
                   
                   <a mat-list-item routerLink="/urgence" (click)="toggleSidebar()">
                       <mdb-icon fas icon="bullhorn" size="1x"></mdb-icon> <span class="nav-caption">Urgence</span>
                   </a>
                   <a mat-list-item routerLink="/stock" (click)="toggleSidebar()">
                       <mdb-icon fas icon="archive" size="1x"></mdb-icon> <span class="nav-caption">Stock</span>   
                   </a>
                   <a mat-list-item routerLink="/factures" (click)="toggleSidebar()">
                       <mdb-icon fas icon="file-contract" size="1x"></mdb-icon><span class="nav-caption">Facturation</span>
                   </a>
                   <a mat-list-item routerLink="/statistique" (click)="toggleSidebar()">
                       <mdb-icon fas icon="poll" size="1x"></mdb-icon><span class="nav-caption">Statistiques</span>
                   </a>
                   <a mat-list-item routerLink="/notif"  (click)="toggleSidebar()">
                       <mdb-icon far icon="bell" size="1x"></mdb-icon><span class="nav-caption">Notification</span>
                   </a>
                   <a mat-list-item routerLink="/parametrage" (click)="toggleSidebar()">
                       <mdb-icon fas icon="cogs" size="1x"></mdb-icon><span class="nav-caption">Parametrage</span>
                   </a>
                 </mat-nav-list>
       
               
              </ng-sidebar>
       
            <!-- Page content -->
            <div ng-sidebar-content style="padding: 20px;">
                <nav  class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a (click)="toggleSidebar()"><mdb-icon fas icon="bars" style="color: blueviolet;" size="2x"></mdb-icon></a>
                 
                   <!-- Collapsible wrapper -->
               
                   <!-- Right elements -->
                   <div class="row d-flex align-items-center">
                       <div class="col"><button  mat-icon-button (click)="opendialogAddPatient()" >
                          <mat-icon >group_add</mat-icon>  
                        </button>  
                      </div> 
                      <div class="col">
                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                              <mat-icon>account_circle</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                               <button mat-menu-item >
                                   <mat-icon>account_box</mat-icon>
                                   <span>{{user.first_name}}</span>
                                 </button>
                              <button mat-menu-item >
                               <mat-icon>exit_to_app</mat-icon>
                                <span>se déconnecter</span>
                              </button>
                            </mat-menu>
                            
                      </div>
                   </div>
                   <!-- Right elements -->
                 </div>
                 </nav>
              
              <div class="wrapper" style="padding-top: 50px; padding-right: 50px;">
                <!-- Sidebar -->
                <div class="privacy-policy-text">
                    <br> <br><br><br>
                <div class="accuiel-medecin-tab"></div>        
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="/addPatient">
            
                            <div class="team-text">
                                <div style="padding-left: 40px;">
                                    
                                    <mdb-icon fas icon="user-plus cyan-text fa-4x"></mdb-icon>
                                </div>
                                <h5>Ajouter Patient</h5>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="/patient-details">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team2.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text">
                                <div style="padding-left: 40px;">
                                    <mdb-icon fas icon="users red-text fa-4x"></mdb-icon>
                                    <h5>Patients</h5>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="/visite">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team3.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text">
                                <div style="padding-left: 40px;">
                                    <mdb-icon fas icon="user-md  indigo-text fa-4x" ></mdb-icon>
                                
                                </div>
                                <h5 >Créneaux Visite</h5>
                                
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="/agenda">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team4.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text">
                                <div style="padding-left: 40px;">
                                    <mdb-icon far icon="calendar-alt green-text fa-4x "></mdb-icon>
                                    <h5>Agenda</h5>
                                
                                </div>
                                
                            
                            
                            </div>
                        </div>
                    </div>
            
                </div>
                    <br><br><br>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="">
                        
            
                            <div class="team-text">
                                <div style="padding-left: 40px;">
                                
                                    <mdb-icon far icon="envelope amber-text fa-4x"></mdb-icon>
                                    <h5>Courrier</h5>
                                </div>
                                
                        
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team2.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text">
                                <div style="padding-left: 50px;">
                                    <mdb-icon fas icon="flask fa-4x"></mdb-icon>
                                    
                                </div>
                                <h5>Examen Labo</h5>
                                
                            </div>  
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team3.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text">
                                <div style="padding-left: 50px; ">
                                    
                                    <mdb-icon fas icon="heartbeat red-text fa-4x"></mdb-icon>
                                    
                                </div>
                                <h5>Examen Radio</h5>
                                
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6">
                        <div class="team-card" routerLink="">
                            <!-- <div class="team-image">
                                <img src="assets/img/team/team4.jpg" alt="image">
            
                                <div class="caption">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
            
                            <div class="team-text" routerLink="">
                                <div style="padding-left: 50px;">
                                    <mdb-icon fas icon="stethoscope fa-4x"></mdb-icon>
                                </div>
                                <h5>Salle d'attente</h5>
                                
                            </div>
                        </div>
                    </div>
            
            
                </div>
                <br>
            </div>
            
        </div>
            
    </div>
       
    </ng-sidebar-container>

<!-- 
        <div class="testimonials-slider owl-carousel owl-theme">
            <div class="testimonials-card">
                <div class="client-img">
                    <img src="assets/img/clients/client6.jpg" alt="image">
                    <h3>Jhon Smith</h3>
                    <span>CEO of LTD company</span>
                </div>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="feedback-text">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>

            <div class="testimonials-card">
                <div class="client-img">
                    <img src="assets/img/clients/client5.jpg" alt="image">
                    <h3>William leo</h3>
                    <span>CEO of LTD company</span>
                </div>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="feedback-text">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>

            <div class="testimonials-card">
                <div class="client-img">
                    <img src="assets/img/clients/client4.jpg" alt="image">
                    <h3>Benjamin Liam</h3>
                    <span>CEO of LTD company</span>
                </div>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="feedback-text">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- End Testimonials Slider Area -->

