.alert-light-danger {
  background-color: #FEEFD0 !important;
  color: #F55252  !important;
  border-color: #FEEFD0;
}
.btn-primary {
  color: #fff;
  background-color: #0293CD;
  border-color:#0293CD;
}
.btn {
  margin: 0 auto;
}
