<!-- Footer Area-->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="logo">
                        <img src="assets/img/logo.png" alt="logo">
                    </div>
                    <p>Mo-SYS est une plate-forme médicale vous offer l'opportunité de contacter un prestataire de santé à fin de faciliter la procédure du traitement et de prise des RDV ainsi d'une solution dont vos données soient bien sécurisées et protégées.</p>                    <ul class="footer-socials">
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6" >
                <div class="footer-widget pl-80">
                    <h3>Entreprise</h3>

                    <ul class="footer-text">
                        <li><a routerLink="/about">A propos de nous</a></li>
                        <li><a routerLink="/services">Services</a></li>
                        <li><a routerLink="/">Fonctionnalités</a></li>
                        <li><a routerLink="/">Dernières nouvelles</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-50">
                    <h3>Support</h3>

                    <ul class="footer-text">
                        <li><a routerLink="/faq">FAQ’s</a></li>
                        <li><a routerLink="/terms-conditions">Termes & conditions</a></li>
                        <li><a routerLink="/">Communauté</a></li>
                        <li><a routerLink="/contact">Nous contacter</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3>Contact</h3>

                    <ul class="info-list">
                        <li><i class='bx bxs-location-plus'></i> 16RUE Ibn Zaïdoun, Manzel Nour, Monastir</li>
                        <li><i class='bx bxs-envelope'></i> <a href="mailto:hello@floza.com">hello@mosys.com</a></li>
                        <li><i class='bx bxs-envelope'></i> <a href="mailto:contact@floza.com">contact@mosys.com</a></li>
                        <li><i class='bx bxs-phone'></i> <a href="tel:+0123456789">+216 51 888 132 </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Footer bottom Area -->
<div class="footer-bottom">
    <div class="container">
        <p>Copyright @2020 Mo-SYS. Tous les droits sont réservés</p>
    </div>
</div>
<!-- End Footer bottom Area -->

<!-- Go Top -->
<div class="go-top">
    <i class='bx bx-chevrons-up'></i>
</div>
<!-- End Go Top -->
